<!DOCTYPE html>
<html>
  <head>
    <title>demo sites for tracking script</title>
    
    <script 
      type="text/javascript"
      async=""
      src="./trackingScript.js">
    </script>
  
  </head>
  <body>